@model Accounting.Models.ViewModel.AccountingToPagedListViewModel

@{
    ViewBag.Title = "記帳清單";
    var num = 1;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>記帳清單</h2>
<p>
    @Html.ActionLink("新增記帳", "Create")
</p>
<hr />
@Html.PagedListPager(Model.Bookkeeping, page => Url.Action("Index", new { page }),
    PagedListRenderOptions.ClassicPlusFirstAndLast)

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <tr>
                <th>#</th>
                <th>類別</th>
                <th>日期</th>
                <th>金額</th>
                <th>備註</th>
            </tr>
            @foreach (var data in Model.Bookkeeping)
            {
                <tr>
                    <td>
                        @(num++)
                    </td>
                    <td>
                        @(data.Categoryyy == 0 ? "支出":"收入")                        
                    </td>
                    <td>                        
                        @data.Dateee.ToString("yyyy/MM/dd")
                    </td>
                    <td>                        
                        @data.Amounttt.ToString("0,0")
                    </td>
                    <td>
                        @(data.Remarkkk.Length >= 60 ?
                        data.Remarkkk.Substring(data.Remarkkk.IndexOf(data.Remarkkk), 60) + "...." :
                        data.Remarkkk.Substring(data.Remarkkk.IndexOf(data.Remarkkk), data.Remarkkk.Length))
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
<link href="~/Content/PagedList.css" rel="stylesheet" />
