@model List<Bookkeeping.Models.ViewModel.BookkeepingViewModel>

@{
    ViewBag.Title = "記帳清單";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>記帳清單</h2>
<hr />
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <tr>
                <th>#</th>
                <th>類別</th>
                <th>日期</th>
                <th>金額</th>
                <th>備註</th>
            </tr>
            @foreach (var data in this.Model)
            {
                <tr>
                    <td>@data.ID</td>
                    <td>@data.Item</td>
                    <td>@data.Day.ToShortDateString()</td>
                    <td>@data.Money.ToString("0,0")</td>
                    <td>@data.Remarks</td>
                </tr>
            }
        </table>
    </div>
</div>

